.gallery {
    text-align: center;
    padding: 40px;
}

.gallery img {
    width: 300px;
    height: auto;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
